<%- include("../partials/html-head") %>
<!-- <link rel="stylesheet" href="/public/stylesheets/fishes/new.css" /> -->
<%- include("../partials/nav") %>



  <h1><%= title %> </h1>
  <% if (user) { %>
    <h2>Add a Fish you've caught</h2>
    <form action="/fishes" method="POST">
      <label>
        Name of Fish: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Weight (in lb):
        <input type="text" name="weight">
      </label>
      <div>
        <label  for="date-caught-input">Date Caught</label>
        <input class="date" type="date" name="catchDate">
      </div>
      <div>
        <label for="caught-checkbox">Released?</label>
        <input type="checkbox" name="caught">
      </div>
        <div>
        <button class="btn" type="submit">Add Fish</button>
      </div>
      </form>
  <% } %>

        


  <%- include("../partials/footer") %>