<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/public/stylesheets/fishes/new.css" />
<%- include("../partials/nav") %>



  <h1><%= title %> </h1>
  <% if (user) { %>
    <h2>Add a Fish you've caught</h2>
    <form action="/fishes" method="POST">
      <label>
        Name of Fish: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Weight (in lb):
        <input type="text" name="weight">
      </label>
      <label for="date-caught-input">Date Caught</label>
      <input type="date" name="catchDate">
      <label for="caught-checkbox">Released?</label>
      <input type="checkbox" name="caught">
      <button type="submit">Add Fish</button>
    </form>
  <% } %>

  <%- include("../partials/footer") %>