<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>



  <h1>Fishees</h1>
  <% if (user) { %>
    <h2>Add a Fish you've caught</h2>
    <form action="/fishes" method="POST">
      <label>
        Name of Fish: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Weight (in lb):
        <input type="text" name="weight">
      </label>
      <label for="date-caught">Date Caught<input type="date" name="dateCaught"></label>
      <label for="caught-checkbox">Released?</label>
      <input type="checkbox" name="caught">
      <button type="submit">Add Fish</button>
    </form>
  <% } %>

  <%- include("../partials/footer") %>