html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #00a5cf;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #1f363d;
  text-align: center;
}

nav {
  background-color: #00a5cf;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
}

img{
  border-radius: 50%;
}

a{
  margin: 10px 20px;
  text-decoration: none;
  font-weight: 100;
}

li{
  list-style-position: inside;
}

.nav-img{
  width: 30px;
  height: 30px;
}

.points{
  text-align: center;
  /* margin: 0 1px; */
}
